.content {
    display: flex;
    gap: 15px;
}
.textContent {
    width: 500px;
}
#likesContainer {
    display: flex;
    gap: 2px;
}
#likes {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}